<div class="container">

    <form [formGroup]="universiteForm" (ngSubmit)="addUniversity()">
        <div class="form-group">
            <label for="formGroupExampleInput">Nom</label>
            <input formControlName="nomUniv" type="text" class="form-control" id="formGroupExampleInput" placeholder="Exemple de saisie">
            <div *ngIf="universiteForm.get('nomUniv').invalid && (universiteForm.get('nomUniv').touched || universiteForm.get('nomUniv').dirty)" class="text-danger">
                <div *ngIf="universiteForm.get('nomUniv').errors['required']">Le nom est requis.</div>
                <div *ngIf="universiteForm.get('nomUniv').errors['minlength']">Le nom doit comporter au moins 3 caractères.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Adresse</label>
            <input formControlName="adresse" type="text" class="form-control" id="formGroupExampleInput" placeholder="Exemple de saisie">
            <div *ngIf="universiteForm.get('adresse').invalid && (universiteForm.get('adresse').touched || universiteForm.get('adresse').dirty)" class="text-danger">
                <div *ngIf="universiteForm.get('adresse').errors['required']">L'adresse est requise.</div>
                <div *ngIf="universiteForm.get('adresse').errors['minlength']">L'adresse doit comporter au moins 3 caractères.</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Ajouter université</button>

        <!-- Afficher le message de succès -->
        <div *ngIf="ajoutAvecSucces" class="alert alert-success mt-2">
            Université ajoutée avec succès !
        </div>
    </form>

</div>
