
<div class="position-relative">
  <!-- Header -->
  <div class="header bg-gradient-danger pb-6 pt-3 pt-md-6  text-center text-white">
    <div class="container-fluid">
      <div class="header-body">
        <h1 class="display-3 text-white">Liste des université </h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-auto">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" [(ngModel)]="searchTerm" class="form-control form-control-sm"  placeholder="cherchez une université" />
        </div>
        <button type="button" class="btn btn-primary btn-search" data-mdb-ripple-init>
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-auto mx-auto"> <!-- Utilisation de 'mx-auto' pour centrer horizontalement -->
      <button (click)="afficherLogs()" class="btn btn-secondary">
        Afficher les logs
      </button>
    </div>
    
    <div class="col-auto">
      <div class="container">
        <div class="row">
          <b class="col-auto my-auto">Ajouter universite</b>
          <div class="col-auto">
            <button routerLink="/addUniversite" class="btn btn-primary rounded-circle ml-2 d-flex align-items-center justify-content-center" style="width: 50px; height: 50px">
              <i class="fa fa-plus text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="logsVisibles" class="mt-3">
    <h3>Logs :</h3>
    <ul class="logs-list">
      <li *ngFor="let log of logs; let i = index" (dblclick)="hideLog(i)">
        {{ log }}
      </li>
    </ul>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">adresse</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uni of filteredUniversities">
        <td>{{ uni.idUniv }}</td>
        <td>{{ uni.nomUniv }}</td>
        <td>{{ uni.adresse }}</td>
        <td class="row">
          <div class="d-flex align-items-center">
            <button (click)="deleteUniversite(uni)" class="btn btn-danger mr-2">Supprimer</button>
            <button [routerLink]="'/updateUniversite/' + uni.idUniv" class="btn btn-primary">Modifier</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<div class="container">
  <div *ngFor="let university of filteredUniversities">
    <!-- Affichez les détails de l'université ici -->
  </div>
  <!-- ... Votre contenu existant ... -->
  <script>
 </script>
<style>
  .btn-search {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }
  .btn-dhia {
  color: red;
}
  .btn-secondary {
  margin-top: 15px; /* Ajustez selon votre mise en page */
}
ul.logs-list li {
  color: darkred;
}
</style>