<!DOCTYPE html>
<html>
<head>
    <style>
        .header {
            background: linear-gradient(to right, red, yellow);
            width: 100%;
            height: 300px;
        }

        .header h1 {
            color: white;
            font-family: Arial, sans-serif;
            font-size: 40px;
            text-align: center;
            padding-top: 100px; /* Ajustez la valeur pour centrer verticalement le texte */
        }
    </style>
</head>
<body>
    <div class="header bg-gradient-danger fluid ">
        <h1>Bienvenue sur ChambreClic , plateforme de réservation <br> de chambres de logement !</h1>
    </div>
</body>
</html>