<main class="position-relative">
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-md-8 text-center">
    <div class="container-fluid">
      <div class="header-body">
        <h1 class="display-4 font-weight-bold">Liste des Étudiants</h1>
      </div>
    </div>
  </div>
  
  <!-- Filter and Sort Section -->
  <div class="container mt-4">
    <div class="row">
      <!-- Filter Section -->
      <div class="col-lg-6 mb-3">
        <div class="input-group">
          <label for="filterText" class="form-label sr-only">Recherche avancée :</label>
          <input type="text" class="form-control" id="filterText" placeholder="Recherche avancée" [(ngModel)]="filterText">
          <button (click)="filterEtudiants()" class="btn btn-primary">Rechercher</button>
        </div>
      </div>

      <!-- Sort Section -->
      <div class="col-lg-6 mb-3">
        <div class="input-group">
          <label for="sortField" class="form-label sr-only">Champ de tri :</label>
          <select class="form-select" id="sortField" [(ngModel)]="sortField">
            <option value="nomEt">Nom</option>
            <option value="prenomEt">Prénom</option>
            <option value="dateNaissance">Date de Naissance</option>
            <option value="ecole">École</option>
          </select>
          
          <label for="sortDirection" class="form-label sr-only">Direction de tri :</label>
          <select class="form-select" id="sortDirection" [(ngModel)]="sortDirection">
            <option value="asc">Ascendant</option>
            <option value="desc">Descendant</option>
          </select>
          
          <button (click)="sortEtudiants()" class="btn btn-primary">Trier</button>
        </div>
      </div>
    </div>

    <!-- Etudiants List as Cards -->
    <div class="row flex-wrap">
      <div class="col-lg-4 mb-4" *ngFor="let etudiant of e">
        <div class="card" style="border-color: #dc3545;">
          <div class="card-body">
            <h5 class="card-title" style="color: #dc3545;">{{ etudiant.nomEt }} {{ etudiant.prenomEt }}</h5>
            <p class="card-text">Date de Naissance : {{ etudiant.dateNaissance }}</p>
            <p class="card-text">École : {{ etudiant.ecole }}</p>
            <button (click)="showEtudiantDetails(etudiant)" class="btn btn-primary">Voir les détails</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <button (click)="loadEtudiantsWithReservations()" class="btn btn-primary">Afficher les étudiants avec réservation</button>
        <button (click)="clearFilter()" class="btn btn-secondary">Clear</button>
      </div>
    </div>
  </div>
</main>