<div class="position-relative">
    <!-- shape Hero -->
    <div class="header bg-gradient-danger pb-6 pt-3 pt-md-6 text-center text-white">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <h1 class="display-3 text-white">Les invincibles</h1>
        </div>
      </div>
    </div>

<div class="team-section ">
    <div class="gr">
      <h1 class="text-center mt-3 mb-5"> </h1>
      <div class="wrapper">
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/Capture d'écran 2023-11-13 174526.png "alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Sarra Ben Hamida</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/Capture d'écran 2023-11-13 174541.png" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Mehdi zinelabidine</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/Capture d'écran 2023-11-13 174556.png" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Med Dhia Boudali</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
        </div>

      <div class="wrapper">
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/Capture d'écran 2023-11-13 174608.png" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Chahd Zhaira</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/Capture d'écran 2023-11-13 174618.png" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Farah Telli</h1>
                  <h3 class="bio">Software engineer<br> client</h3>
              </div>
          </div>
          <div class="profile bg-gradient-danger">
              <img src="./assets/img/brand/347394389_3425500164370205_3286478820429226053_n.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Sirine Sayari</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
      </div>