<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 text-center text-white">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <h1 class="display-3  text-white">Ajouter Étudiant</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-white">Ajouter un étudiant</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form #etudiantForm="ngForm" (ngSubmit)="addEtudiant(etudiantForm)">
            <div class="mb-3">
              <label for="nomEt" class="form-label">Nom</label>
              <input type="text" class="form-control" name="nomEt" [(ngModel)]="etudiant.nomEt" required minlength="3">
              <div class="alert alert-danger"
                *ngIf="etudiantForm.controls['nomEt'].invalid && (etudiantForm.controls['nomEt'].touched || etudiantForm.controls['nomEt'].dirty)">
                <div *ngIf="etudiantForm.controls['nomEt'].errors?.required">Nom is required!</div>
                <div *ngIf="etudiantForm.controls['nomEt'].errors?.minlength">Nom must be at least 3 characters!</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="prenomEt" class="form-label">Prénom</label>
              <input type="text" class="form-control" name="prenomEt" [(ngModel)]="etudiant.prenomEt" required
                minlength="3">
              <div class="alert alert-danger"
                *ngIf="etudiantForm.controls['prenomEt'].invalid && (etudiantForm.controls['prenomEt'].touched || etudiantForm.controls['prenomEt'].dirty)">
                <div *ngIf="etudiantForm.controls['prenomEt'].errors?.required">Prénom is required!</div>
                <div *ngIf="etudiantForm.controls['prenomEt'].errors?.minlength">Prénom must be at least 3 characters!
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="cin" class="form-label">CIN</label>
              <input type="number" class="form-control" name="cin" [(ngModel)]="etudiant.cin" required>
              <div class="alert alert-danger"
                *ngIf="etudiantForm.controls['cin'].invalid && (etudiantForm.controls['cin'].touched || etudiantForm.controls['cin'].dirty)">
                <div *ngIf="etudiantForm.controls['cin'].errors?.required">CIN is required!</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="ecole" class="form-label">Université</label>
              <select class="form-control" name="ecole" [(ngModel)]="selectedUniversite" required>
                <option value="">Sélectionnez une université</option>
                <option *ngFor="let universite of universites" [value]="universite.nomUniv">{{ universite.nomUniv }}
                </option>
              </select>
              <div class="alert alert-danger"
                *ngIf="etudiantForm.controls['ecole'].invalid && (etudiantForm.controls['ecole'].touched || etudiantForm.controls['ecole'].dirty)">
                <div *ngIf="etudiantForm.controls['ecole'].errors?.required">Université is required!</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="dateNaissance" class="form-label">Date de Naissance</label>
              <input type="date" class="form-control" name="dateNaissance" [(ngModel)]="etudiant.dateNaissance"
                required>
              <div class="alert alert-danger"
                *ngIf="etudiantForm.controls['dateNaissance'].invalid && (etudiantForm.controls['dateNaissance'].touched || etudiantForm.controls['dateNaissance'].dirty)">
                <div *ngIf="etudiantForm.controls['dateNaissance'].errors?.required">Date de Naissance is required!
                </div>
              </div>
            </div>

            <!-- Add other fields as needed -->

            <div class="mb-3">
              <button type="submit" class="btn btn-primary" [value]="id !== undefined ? 'Update' : 'Add'"
                [disabled]="etudiantForm.invalid">Add Etudiant</button>
                <button routerLink="/etudiant" class="btn btn-primary">Retour</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>