<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Project Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Your custom styles (if any) -->
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg rounded bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand p-3" style="color: aliceblue;" href="#">ChambreClic</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color: aliceblue;" routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="equipe" style="color: aliceblue;">Equipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="etudiantf" style="color: aliceblue;">Etudiant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="foyerf" style="color: aliceblue;">Foyer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="blocf" style="color: aliceblue;">Bloc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="university" style="color: aliceblue;">Université</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="reservation" style="color: aliceblue;">Chambre</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: aliceblue;" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Foyer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="etudiant">Liste Blocs</a>
                  <a class="dropdown-item" routerLink="">Liste Chambre</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('/login')" style="color: aliceblue;">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('/register')" style="color: aliceblue;">register</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Bootstrap JS and Popper.js (order matters) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
