
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <div class="header bg-gradient-danger pb-6 pt-3 pt-md-6 text-center text-white">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <h1 class="display-3  text-white">Liste des Blocs</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <!-- Filter Section -->
      <div class="col-lg-6 mb-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cherchez un bloc" [(ngModel)]="searchTerm" (input)="searchBlocs(searchTerm)">
          <button class="btn btn-primary mx-3" (click)="navigateToBlocForm()">
            <i class="bi bi-plus"></i> Ajouter
          </button>
          <button class="btn btn-primary ms-2" (click)="generatePDF()">Générer PDF</button>
        </div>
      </div>
    
      
        
  <div class="container-fluid col-lg-12 ">
    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Capacité du bloc</th>
              <th scope="col">Nom du bloc</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bloc of b">
             
              <td>{{ bloc.capaciteBloc }}</td>
              <td>{{ bloc.nomBloc }}</td>
              
              <td >
                <div class="d-flex align-items-center">
                <select class="form-control mx-3" id="option" (change)="onOptionSelectionChange($event,bloc)">
                  <option *ngFor="let foyer of foyerList" [value]="foyer.idFoyer">{{ foyer.nomFoyer }}</option>
                  <option>choisir un foyer</option>
                </select>
                <button (click)="deleteBloc(bloc.idBloc)" class="btn btn-danger ">Supprimer</button>
                <button (click)="navigateToUpdateForm(bloc.idBloc)" class="btn btn-primary ">Modifier</button>
                <button (click)="open(bloc)"  class="btn btn-primary "><i class="bi bi-eye"></i></button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
</div>
<div class="mx-3 mt-3 col-lg-4" [hidden]="show">
  <div  class="p-0 mb-0 card ">
    <div  class="card position-relative" style="width: 18rem; max-height: 50rem;">
      <button (click)="close()" type="button" class="btn-close py-2"></button>
      <img src="./assets/img/theme/position.png" class="card-img-top img-fluid mt-2" alt="map bloc">
      <div>
        <h5 class="mt-4">Nom du bloc :{{bloc.nomBloc}}</h5>
        <h5>Capacite du bloc : {{bloc.capaciteBloc}}</h5>
      </div>
    </div>

  </div>
</div>
</div>





